* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
}

.contenedor-grid > * {
  padding: 10px;
  text-align: center;
}

.header {
  border: 1px solid #000;
  grid-area: header;
}
.flex-main {
  border: 1px solid #000;
  grid-area: main;
}

.flex-sidebar {
  border: 1px solid #000;
  grid-area: sidebar;
}

.footer {
  border: 1px solid #000;
  grid-area: footer;
}

.contenedor-grid {
  display: grid;
  grid-template:
    "header" auto
    "main" 45%
    "sidebar" 45%
    "footer" auto;
}

@media all and (min-width: 768px) {
  .contenedor-grid {
    grid-template:
    "header" 5%
    "main" 55%
    "sidebar" auto
    "footer" 5%;
  }

}

@media all and (min-width: 1366px) {
  .contenedor-grid {
    grid-template:
      "header  header" 10%
      "main    sidebar" auto
      "footer  footer" 10% /
      auto 30%;
  }
}
