:root {
  --color-primario: #fe8d00;
  --color-negro: #1c1c1f;
  --color-secundario: #faac30;
  --color-gris: #e6e6e6;
  --color-indicaciones: #808080;
  --color-blanco: white;

  font-family: "Montserrat", sans-serif;
}

html {
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 1) 70%,
    rgba(250, 172, 48, 1) 90%
  );
  /* padding-right: 15px; */
}

/*******************VISTA WEB*****************************/
.logo-header{
  display:none;
}

.flex-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
}

.flex-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 15px;
  background: rgb(254, 141, 0);
  background: linear-gradient(
    45deg,
    rgba(250, 172, 48, 1) 0%,
    rgba(254, 141, 0, 1) 75%
  );
}

#txt-ini {
  position: absolute;
  font-size: 3rem;
  text-align: left;
  margin-top: 2.5rem;
  margin-left: 3.7rem;
  color: var(--color-secundario);
  font-weight: 600;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.encriptar {
  font-family: "Montserrat";
  font-weight: 600;
  text-align: justify;
  padding: 0.25rem;
  color: var(--color-primario);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  resize: none;
  overflow: auto;
  background-color: transparent;
  /* border: 1px solid black; */
  align-self: center;
  height: 85%;
  width: 100%;
  max-width: 90%;
}

.encriptar::placeholder {
  padding-left: 0.1rem;
  font-weight: 300;
  color: var(--color-indicaciones);
  font-size: 0.95rem;
}

.encriptar::-webkit-scrollbar {
  background-color: var(--color-blanco);
  border-radius: 50px;
}

.encriptar::-webkit-scrollbar-thumb {
  background-color: var(--color-gris);
  border-radius: 50px;
  border: 2px solid var(--color-blanco);
}

.encriptar::selection {
  background-color: var(--color-primario);
  color: var(--color-blanco);
}

#area-resultado {
  background: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: left;
  padding: 0.25rem;
  color: var(--color-negro);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  resize: none;
  height: 85%;
  width: 90%;
  color: var(--color-negro);
}

#area-resultado::-webkit-scrollbar {
  background-color: var(--color-secundario);
  border-radius: 50px;
}

#area-resultado::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
  border-radius: 50px;
  border: 2px solid var(--color-secundario);
}
.img-encriptada {
  height: 15rem;
  width: 15rem;
}

.img-txt-result {
  text-align: justify;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 80%;
}
#texto-img-resultado {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1rem;
}

#texto-img-blanco {
  font-weight: 400;
  text-align: center;
  font-size: 0.75rem;
  color: var(--color-gris);
  font-weight: 400;
  padding-top: 0.7rem;
}

#boton-encriptar,
#boton-desencriptar,
#boton-copiar {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  height: 3rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 50px;
  width: 13.5rem;
  font-weight: 600;
}

#boton-encriptar {
  background-color: var(--color-primario);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

#boton-encriptar:hover {
  background-color: var(--color-secundario);
}

.flecha {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0.5rem;
  margin-left: 1.8rem;
}

#boton-desencriptar {
  background-color: var(--color-negro);
}

#boton-desencriptar:hover {
  background-color: var(--color-indicaciones);
}

#boton-copiar {
  background-color: transparent;
  border: 1px solid var(--color-negro);
  color: var(--color-negro);
  /* font-weight: bold; */
}

#boton-copiar:hover {
  background-color: var(--color-negro);
  color: var(--color-blanco);
}

footer {
  display: flex;
  justify-content: display flex-start;
  align-items: center;
  align-items: baseline;
  margin-left: 1.5rem;
  /* background-color: #1c1c1f; */
}
.img-logo {
  position: relative;
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 1rem;
}
.container-rs {
  display: flex;
  width: 100%;
  height: 100%;
}

.redes-sociales {
  height: 60%;
  margin-right: 2.5rem;
}
/***************************MEDIA QUERIES***************************/

/***************************VISTA TABLET***************************/

/* @media all and  (min-width: 768px){   

  .flex-main, .flex-sidebar, header, footer{
    width: 100%;
  }
  .logo-header{
    display: block;
    float: right;
    height: 100%;
  }
  #txt-ini{
    font-size: 2.5rem;
    background-color: #808080;
  }
  .encriptar::placeholder {  
    font-size: 1rem;
  }
 html{
   background: linear-gradient(
     180deg,
     rgba(230, 230, 230, 1) 55%,
     rgba(250, 172, 48, 1) 65%
   );
 }

 .flex-sidebar, .flex-main{
  margin: 0 1rem 0 1rem;
 }

 footer{
  display:none;
 }
}

@media all and (min-width: 1366px) {
  html{
    background: linear-gradient(
      90deg,
      rgba(230, 230, 230, 1) 70%,
      rgba(250, 172, 48, 1) 80%
    );}
  footer{
    display: block;
  }
  .logo-header{
    display: none;
  }
  #area-resultado{
    height: auto;
    width: auto;
  }
  #txt-ini{
    background-color: aqua;
  }

}  */
